.operationsTable {
  &__row {
    td:first-child {
      position: relative;
      button {
        position: absolute;
        right: 0;
        display: none;
      }
    }

    &-income {
      color: green;
    }
    &-expense {
      color: red;
    }
    &:hover {
      td:first-child {
        button {
          display: block;
        }
      }
    }
  }
}
