.operationsTable {
  &__wrapper {
    position: relative;
    padding-top: 5rem;
  }

  &__alert {
    position: absolute;
    top: 0px;
    left: 3.5rem;
    min-width: 22rem;
    padding-top: 5px;
    padding-bottom: 5px;
    p {
      margin-bottom: 0;
    }
    @media screen and (max-width: 500px) {
      font-size: 14px;
      min-width: 10rem;
    }
  }
  &__row {
    td:first-child {
      position: relative;
      button {
        position: absolute;
        right: 0;
        display: none;
      }
    }

    &-income {
      color: green;
    }
    &-expense {
      color: red;
    }
    &:hover {
      td:first-child {
        button {
          display: block;
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}
