$mainColor: #6842d2;

.dashboard__container {
  display: block;

  .side__bar {
    padding-inline: 1vw;
    position: sticky;
    top: 0;
  }
  .dashboard {
    flex: 1;
    padding: 20px;
    .goals__data {
      display: none;
      color: $mainColor;
      margin-bottom: 20px;
      h3 {
        font-weight: 600;
      }
      span {
        margin-top: 0;
        font-weight: 600;
        font-size: 13px;
      }
      .current__total {
        margin-bottom: 10px;
        h4 {
          font-size: 22px;
          font-weight: 600;
          margin-bottom: 0;
        }
        span {
          margin-top: 0;
          font-weight: 600;
          font-size: 13px;
        }
      }
      .goal {
        margin-bottom: 20px;
        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0;
        }
        h3 {
          font-size: 22px;
          margin-bottom: 0;
        }
        span {
          margin-top: 0;
        }
      }
      .progress {
        background-color: gray;
        border-radius: 4px;
        height: 15px;
        position: relative;
        .percentage {
          position: absolute;
          height: 100%;
          border-radius: 4px;
          width: 70%;
          background-color: $mainColor;
        }
      }
    }
    .charts {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .title {
      text-align: center;
      margin: 30px 0;
      font-weight: 600;
    }
  }

  .area {
    border: 1px solid lightgray;
    padding: 5%;
  }

  @media screen and (max-width: 992px) {
    .sidebar {
      display: none;
    }
    .dashboard {
      margin-bottom: 40px;
      .title {
        display: none;
      }
      .goals__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .compare__total {
          display: flex;
          justify-content: space-between;
          .icon {
            font-size: 12px;
            margin-left: 5px;
          }
          .goal h4,
          .current__total h3 {
            font-size: 17px;
            font-weight: 600;
          }
          .goal {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
        }
        .progress {
          width: 200px;
          height: 17px;
        }
      }
    }
    .charts {
      flex-direction: column;
      .pie__chart {
        max-width: 300px;
        margin-bottom: 20px;
      }
      .line__chart {
        max-width: 300px;
        margin-bottom: 20px;
      }
    }
  }
}
